
@{
    ViewBag.Title = "Cash Multi Upload";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Cash Multi Upload</h2>

@using (Html.BeginForm("Cash_MultiUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        @Html.TextBox("file", "", new { type = "file", name = "file" }) <br />

        <input class="btn" type="submit" value="Upload" />
        @Html.Raw(ViewBag.Message)

    </div>

    <a href="/Admin/Cashes/Download_Template">Download Template</a>
}