@model IEnumerable<Kimeco_ASP.Models.History>
<!--Carousel-->
<section>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/Content/image/3246.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/Content/image/1088.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/Content/image/2397.png" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<!--About Us-->
<section id="AboutUs" style="background-color:#0B3A5F;">
    <div style="position:relative">
        <h1 class="header-style01 text-white">ABOUT US</h1>
        <hr class="hr-style01">
        <h5 class="SmallHeader text-white">Who we are?</h5>
        <div class="row padding-5per-LR">

            <div class="col-lg-6 col-md-12 module text-white font14" style="padding:40px">
                <p>
                    Korea Industrial Machine and Engineering Company limited (Kimeco., Ltd) has officially established in January, 2000.
                </p>
                <p>
                    Kimeco’s mission is bringing more high quality and safety constructions as well as quality innovation continue to new projects.
                </p>
                By the long term experience and technical-safety-quality level, Kimeco not only please the customers come from the global
                corporations such as Posco, Huyndai, Samsung, but also confirmed the absolute position in Vietnam construction market.
                </p>
            </div>
            <div class="col-lg-6 col-md-12  module text-white font14" style="padding:40px">
                <p>
                    In January 2008, the company erected the ﬁrst beams to build Hyundai Aluminum in Pho Noi A Industrial Zone in Hung
                    Yen Province Canon Factory in Noi Bai Industrial Zone In 2010, Kimeco become the brand that always associates in
                    the main projects invested by the International Trade Association Korean in Vietnam From the multi skyscrapers
                    building
                </p>
                <p>
                    After 17 years of successful operation in Vietnam is the solid basis for the General. We are conﬁdent to expand Kimeco
                    over territory of Vietnam reaching whole Asia.
                </p>
                <p class="text-right">JEONG, JEA - HUN / Presiden</p>
            </div>
        </div>
        <img class="w-100" id="image-about" src="/Content/image/skycrapers 2-01.png">
        <div>
            <div class="row">
                <div class="offset-lg-3">

                </div>
                <div class="col-lg-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe style="overflow:auto;-webkit-overflow-scrolling:touch" class="embed-responsive-item" src="https://player.vimeo.com/video/19968442?autoplay=1&loop=1" allow="autoplay" frameborder="0" webkitallowfullscreen
                                mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Service-->
<section id="OurService">
    <h1 class="header-style01 text-blue" style="margin-top:1.2em;">
        our SERVICES
    </h1>
    <hr class="hr-style01 background-blue">
    <h5 class="SmallHeader text-blue">What we do?</h5>
    <div class="row">
        <div class="offset-lg-3 offset-md-3">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h5 class="SmallHeader text-blue" style="font-size:14px; letter-spacing: 1px;">
                Are you looking for a quality custom-designed home at an affordable price? Look no further; Buildme Constructions would
                be delighted to help you bring your dream to life.
            </h5>
            <div class="offset-lg-3 offset-md-3">
            </div>
        </div>
    </div>
    <div class="row margin-5per-LR module shadow bg-white">
        <div class="col-lg-3 col-md-3" style="padding-left:0;">
            <img src="/Content/image/1092.jpg" class="img-thumnail w-100">
        </div>
        <div class="col-lg-9 col-md-9">
            <h3 class="text-blue header-style02">
                <img class="w-50px d-inline-block" src="/Content/image/logo/container.png"> &Tab; CONSTRUCTION
            </h3>
            <p class="text-gray Services-Description">
                Civil Construction such as Office Building, Factory, Villa, Road, Bridge, Remodelling Factory, Office, Temporary Work
                <br> Detail working activity:
                <br> - Rebar and concrete work
                <br> - H-neam, I-Beam,weldingbeam structuring work
                <br> - Pile installation, back filling,road finishing
                <br> - Office and factory designing and construction
                <br> - Temporary office , Temporary Machine and Engineering, Temporary Fence
                <br> - Providing Machine and Enginneering service
            </p>
        </div>
    </div>

    <div class="row margin-5per-LR" style="margin-top:1em;margin-bottom:1em;">
        <div class="col-lg-6 module shadow bg-white">
            <div class="row">
                <div class="col-lg-6" style="padding-left:0;">
                    <img src="/Content/image/141.jpg" class="img-thumnail w-100" style="height:100%;">
                </div>
                <div class="col-lg-6">
                    <div class="media">
                        <img style="margin-top:10px" class="w-50px d-inline-block align-self-start mr-3" src="/Content/image/logo/pipe1.png">
                        <div class="media-body">
                            <h3 class="text-blue header-style02">
                                FIRE FIGHTING SYSTEM
                            </h3>
                        </div>
                    </div>
                    <p class="text-gray Services-Description">
                        Plumbing system installation, air condition and cooling system, duct installation work, designing fire fighting system work
                        with Koream Engineering, providing service for fire fighting certificate, mainpower supplyment
                        <br>
                        <br>Detail working activity:
                        <br>- Piping
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 module shadow bg-white">
            <div class="row">
                <div class="col-lg-6" style="padding-left:0;">
                    <img src="/Content/image/OCERDT0.jpg" class="img-thumnail w-100" style="height:100%;">
                </div>
                <div class="col-lg-6">
                    <div class="media">
                        <img style="margin-top:10px" class="w-50px d-inline-block align-self-start mr-3" src="/Content/image/logo/beam1.png">
                        <div class="media-body">
                            <h3 class="text-blue header-style02">
                                &Tab; STEEL STRUCTURE
                            </h3>
                        </div>
                    </div>
                    <p class="text-gray Services-Description">
                        Civil Construction such as Office Building, Factory, Villa, Road, Bridge, Remodelling Factory, Office, Temporary Work
                        <br>Detail working activity:
                        <br>- Steel structure for office,factory,villa
                        <br>- Water tank shelve
                        <br>- Supply mainpower only for brick, plaster, GYP boad land scope, tile silling

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--History-->
<section>
    <div id="historyOutside">
        <div id="historyInside" class="padding-1em-TB">
            <h1 class="header-style01 text-white" style="margin-top:0;">
                our history
            </h1>
            <hr class="hr-style01">
            <h5 class="SmallHeader text-white">What we did?</h5>
            <div class="timeline">
                <div class="timeline__wrap">
                    <div class="timeline__items">
                        @{
                            var listPeriod = ViewData["ListPeriod"] as List<double?>;
                            foreach (var period in listPeriod)
                            {
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <h2>@period</h2>
                                        <p class="font14">
                                            @foreach (var item in Model)
                                            {
                                                if (item.Period == period)
                                                {
                                                    <a data-toggle="tooltip" data-placement="top" data-html="true" title="@("Scope of Work: "+item.WorkScope +"<br>Client: "+item.Client +"<br>Country: " +item.Country)">@item.ProjectName</a><br />
                                                }
                                            }
                                        </p>
                                    </div>
                                </div>

                            }
                        }

                        @*<div class="timeline__item">
                                <div class="timeline__content">
                                    <h2>2014</h2>
                                    <p class="font14">
                                        <a data-toggle="tooltip" data-placement="top" data-html="true" title="company: anc<br> ac:ds">Samsung SEMV Thai Nguyen </a>
                                        <br> Mong Duong Thermal Electic Power Plan No1
                                        <br> Lotte Land Mark Ha Noi Roof Top Pipe Frame
                                        <br> Formosa By-PROJECT Area
                                        <br> Formosa By-PROJECT Area
                                        <br> Srcum Vina Main Workshop
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <h2>2013</h2>
                                    <p class="font14">
                                        POSCO Phu My Factory Steel Structure 8.767 ton
                                        <br> POSCO Phu My Factory Panel, Roof, Wall Works
                                        <br> Keang Nam Ha Noi Land Mark Tower Drain Pipe, Water tank B2-B1
                                        <br> Samsung SDIV Parking, Fence
                                        <br> Formosa Steel Structure 9000ton
                                        <br> Samsung SDIV
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <h2>2012</h2>
                                    <p class="font14">
                                        Keang Nam Tower (Drain Pipe Work)
                                        <br> MyungBo VN Factory
                                        <br> Ha Noi Bo De School
                                        <br> Posco An Khanh Project Fence Work
                                        <br> LOTTE Ha Noi Land Mark Tower SKY Garden
                                        <br> LOTTE Ha Noi Land Mark Tower Fire Fighting, Pipe Work
                                        <br> POSCO An Khanh Villas Brick & Fence Works (120 Rooms)
                                        <br> Mong Dong Steel Structure No1 Steel Structure 12.000 ton, Panel, Deck Place
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <h2>2011</h2>
                                    <p class="font14">
                                        Hauwei Ha Noi Office
                                        <br> Keang Nam Land Mark Ha Noi Project (Bathtub work)
                                        <br> YooWon VN Factory Remodeling Work(6000m2)
                                        <br> Lao Cai – Vinh Phuc
                                        <br> Hyundai Ha Dong Water System
                                        <br> Keangnam Golden Palce
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <h2>2010</h2>
                                    <p class="font14">
                                        Lotte Land Mark Project
                                        <br> Samsung SDIV Steel Structure, Samsung Factory Roof and Wall Panel
                                        <br> Keangnam Steel Pipe Structure for Apart
                                        <br> Merriot Hotel Under Ground Piping Work
                                        <br> POSCO An Khanh Project Temporary Work
                                        <br> POSCO An Khanh Project Marketing Center
                                        <br> POSCO An Khanh Project Office Work
                                        <br> POSCO An Khanh Project Office Work
                                        <br> POSCO An Khanh Project Office Work
                                        <br> Keang Nam Land Mark Ha Noi Project (Bathtub work)
                                        <br> Keang Nam Land Mark Ha Noi Project (water pipe system)
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <h2>2009</h2>
                                    <p class="font14">
                                        Orion SUS Table & Others
                                        <br> Omni Factory 2nd Remodelling
                                        <br> Covl Casting Convery
                                        <br> Samsung Factory Canopy & Others
                                        <br> Construction SMAF Factory
                                        <br> Taxin Decoration Work
                                        <br> Song Da Sample House Work
                                        <br> DEAWON Cantavil Pipe Frame
                                        <br> Junje Temporary Office
                                        <br> Keangnam Fire Systen Piping Work
                                        <br> Viettel Fence
                                        <br> Lotte Land Mark Project, Temprory Work and Fence
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <h2>2008</h2>
                                    <p class="font14">
                                        Orion SUS Table & Others
                                        <br> Omni Factory 2nd Remodelling
                                        <br> Covl Casting Convery
                                        <br> Samsung Factory Canopy & Others
                                        <br> Construction SMAF Factory
                                        <br> Taxin Decoration Work
                                        <br> Song Da Sample House Work
                                        <br> DEAWON Cantavil Pipe Frame
                                        <br> Junje Temporary Office
                                        <br> Keangnam Fire Systen Piping Work
                                        <br> Viettel Fence
                                        <br> Lotte Land Mark Project, Temprory Work and Fence
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <h2>2007</h2>
                                    <p class="font14">
                                        Brother Industrial Factory – Phuc Dien industrial Zone – Hai Duong
                                        <br> Siam Steel VietNam Factory
                                        <br> Leo Electronics VietNam Factory
                                        <br> Nippon KODO VietNam New Factory Project
                                        <br> Toyoda Gosei Hai Phong Factory 3 Projects
                                        <br> Dong Anh National Storages Project
                                        <br> Samsung Factory Roof
                                        <br> Hyundai A/L Curtain Wall
                                    </p>
                                </div>
                            </div>

                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <h2>2006</h2>
                                    <p class="font14">
                                        CANON Factory – Package 05A QueVo – Bac Ninh industrial zone
                                        <br> Office Building of comercial Ministry/p>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Project Galaxy-->
<section id="ProjectGallery">
    <h1 class="header-style01">
        Project gallery
    </h1>
    <hr class="hr-style01 background-blue">
    <h5 class="SmallHeader">Our lastest project</h5>
    <div class="row">
        <div class="offset-lg-3 offset-md-3">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h5 class="SmallHeader" style="font-size:14px; letter-spacing: 1px;">
                Are you looking for a quality custom-designed home at an affordable price? Look no further; Buildme Constructions would
                be delighted to help you bring your dream to life.
            </h5>
            <div class="offset-lg-3 offset-md-3">
            </div>
        </div>
    </div>
    <hr class="hr-style02">

    <!--List image project-->
    <div class="row padding-2per-LR" >
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 module">
            <a href="#" class="thumbnail" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-target="#image-gallery"
               data-image="/Content/image/project/1.png">
                <img class="img-thumbnail" src="/Content/image/project/1.png" alt="Short alt text">
            </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6  col-6 module">
            <a href="#" class="thumbnail" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-target="#image-gallery"
               data-image="/Content/image/project/2.png">
                <img class="img-thumbnail" src="/Content/image/project/2.png" alt="Short alt text">
            </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6  col-6 module">
            <a href="#" class="thumbnail" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-target="#image-gallery"
               data-image="/Content/image/project/3.png">
                <img class="img-thumbnail" src="/Content/image/project/3.png" alt="Short alt text">
            </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6  col-6 module">
            <a href="#" class="thumbnail" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-target="#image-gallery"
               data-image="/Content/image/project/4.png">
                <img class="img-thumbnail" src="/Content/image/project/4.png" alt="Short alt text">
            </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6  col-6 module">
            <a href="#" class="thumbnail" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-target="#image-gallery"
               data-image="/Content/image/project/5.png">
                <img class="img-thumbnail" src="/Content/image/project/5.png" alt="Short alt text">
            </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6  col-6 module">
            <a href="#" class="thumbnail" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-target="#image-gallery"
               data-image="/Content/image/project/6.png">
                <img class="img-thumbnail" src="/Content/image/project/6.png" alt="Short alt text">
            </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-6 module">
            <a href="#" class="thumbnail" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-target="#image-gallery"
               data-image="/Content/image/project/7.png">
                <img class="img-thumbnail" src="/Content/image/project/7.png" alt="Short alt text">
            </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-6 module">
            <a href="#" class="thumbnail" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-target="#image-gallery"
               data-image="/Content/image/project/8.png">
                <img class="img-thumbnail" src="/Content/image/project/8.png" alt="Short alt text">
            </a>
        </div>
    </div>

    <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="image-gallery-title"></h4>
                </div>
                <div class="modal-body">
                    <img id="image-gallery-image" class="img-thumbnail" src="">
                </div>
                <div class="modal-footer">

                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" id="show-previous-image">Previous</button>
                    </div>

                    <div class="col-md-8 text-justify" id="image-gallery-caption">
                        This text will be overwritten by jQuery
                    </div>

                    <div class="col-md-2">
                        <button type="button" id="show-next-image" class="btn btn-default">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Our Client-->
<section>
    <div id="Client-container">
        <h1 class="header-style01 text-blue" style="padding-top: 1em">
            our clients
        </h1>
        <hr class="hr-style01 background-blue">
        <h5 class="SmallHeader text-blue">Clients we worked with</h5>
        <div class="row">
            <div class="offset-lg-4 offset-md-4"></div>
            <div class="col-lg-4 col-md-4">
                <p class="text-blue text-center font14">
                    <strong>
                        Following that achievements, Kimeco has been chance to cooperate in many big foreign construction projects as Samsung,
                        GS, Posco, Keangnam, Kumho, and Lotte at Hanoi, Ho Chi Minh city and Yangon.
                    </strong>
                </p>
            </div>
        </div>
        <div id="clientList" class="border-blue-4px">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <a href="#" class="thumbnail" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-target="#image-gallery"
                       data-image="/Content/image/Clients/1.jpg">
                        <img src="/Content/image/Clients/1.jpg" alt="Short alt text">
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="thumbnail" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-target="#image-gallery"
                       data-image="/Content/image/Clients/2.png">
                        <img src="/Content/image/Clients/2.png" alt="Short alt text">
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="thumbnail" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-target="#image-gallery"
                       data-image="/Content/image/Clients/3.png">
                        <img src="/Content/image/Clients/3.png" alt="Short alt text">
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="thumbnail" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-target="#image-gallery"
                       data-image="/Content/image/Clients/21.jpg">
                        <img src="/Content/image/Clients/21.jpg" alt="Short alt text">
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="thumbnail" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-target="#image-gallery"
                       data-image="/Content/image/Clients/031.jpg">
                        <img src="/Content/image/Clients/031.jpg" alt="Short alt text">
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="thumbnail" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-target="#image-gallery"
                       data-image="/Content/image/Clients/t.png">
                        <img src="/Content/image/Clients/t.png" alt="Short alt text">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>